/* CSS Document */
/*
* {
    padding:0;
    margin:0;
}

html { 
	overflow:auto;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background:#FFFFFF;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
table{
	width:100%;	
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	cellspacing:0;
	cellpadding:0;
	border-collapse:collapse;
}

a:link {  color: #11387C;text-decoration: none}
a:visited {  color: #11387C;text-decoration: none}
a:active {  color: #D33700; text-decoration: none}
a:hover {  color: #D33700; text-decoration: none}

table{
	width:100%;	
	font-size: 12px;
	cellspacing:0;
	cellpadding:0;
	border-collapse:collapse;
}
*/


input[type=text],input[type=password],select{
	border:1px solid #002B5B; 
	background-color:#FFFFFF;
	padding-left:1px;
	height:20px;
	line-height: 20px;
}



/**濞撳懘娅庡ù顔煎З*/
.clearFloat {clear:both;height:0;font-size:1px;line-height:0px;list-style: none;}


.mainCon{
	padding-top:27px;
	padding-bottom:15px;
	margin-left:auto;
	margin-right: auto;
	width:98%;
	/* min-width: 840px; */
}

/**鐞涖劌銇旈敍姘叀鐠囥垺鏆熼幑顔界壉瀵拷*/
.tbHeadLeft{width:1%;height:37px;background: url("../images/k0.gif");} 
.tbHeadTitle{width:12%;text-align:center;font-weight:bold;background-image:url("../images/bg_k1.gif")} 
.tbHeadMid{width:39px;height:37px;background: url("../images/k1.gif");}  
.tbHeadBg{background: url("../images/bg_k2.gif") repeat-x;}
.tbHeadRight{float:right;width:17px;height:37px;background: url("../images/k2.gif");}  


/**閺佺増宓侀崚妤勩�閺嶅嘲绱�*/
.listTab,.list{
	/* word-break:keep-all; */
	word-break:break-all; 
	word-wrap:break-all;
	border: 2px solid #85B0E3;
}
.listTab tr{
	height:25px;
	line-height:25px;
}
.listTab th{
	padding-left:3px;
	background:#D3E4FF;
	font-weight: normal;
	color:#002D5F;
	text-align:left;
	border-left:#85B0E3 1px solid;
	border-bottom:#85B0E3 3px solid
}
.listTab td{
	padding-left:3px;
	border-bottom:#cccccc 1px solid;
}

/**鐞涖劍鐗告稉顓犳畱閸ュ墽澧栭幐澶愭尦*/
.modifyImgBtn {
	padding-left: 22px;
	padding-bottom: 5px;
	background: url('../images/icon_modify.gif') no-repeat;
}
.deleteImgBtn {
	padding-left: 22px;
	padding-bottom: 5px;
	background: url('../images/icon_delete.gif') no-repeat;
}
.lineImgSprit {
	display: inline-block;
	padding-left: 7px;
	padding-right: 3px;
}

/**button 閹稿鎸�/
.btn{
	background-image: url('../images/office/edit_button_background.jpg');
	background-repeat: repeat-x;
	height: 22px;
	border: 1px solid #A5B6D2;
	border-image: initial;
	padding: 0px 6px 0px 6px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	cursor: pointer;
}

/**閸掑棝銆夐弽宄扮础**/
.pageFont{
	padding-left:5px;
	background:#D3E4FF;
	padding-right:20px;
	text-align:right
}






.alignLeft{text-align: left !important;}
.alignCenter{text-align: center !important;}
.alignRight{text-align: right !important;}
.widthPct5{width:5%;}
.widthPct7{width:7%;}
.widthPct10{width:10%;}
.widthPct14{width:14%;}
.widthPct18{width:18%;}
.width100{width:100px !important;}
.width90{width:90px !important;}
.width80{width:80px !important;}
.width35{width:35px !important;}

.height150{height:150px !important;}

.bordercolor {
	 bordercolorlight: #999999;
	 bordercolordark: #000000 
}

/***********************************************/
/**==============娴犮儰绗呮稉铏圭椽鏉堟垳淇婇幁顖氬灙鐞涖劎娈戦弽宄扮础=========**/
/***********************************************/
.editDiv{
	/* background:#FBFBEE; */
	background-color: #FFFFFF;
	width:100%;
	/* border: #6B699F 1px solid; */
}
.editTab{
	word-break:keep-all;
	border: 1px solid #aac8e9;
	width:100%;
}
.editTab tr{
	height:32px;
}
.editTab th{
	width:360px;
	padding-right:4px;
	text-align:right;
	font-weight:normal;
	border: 1px solid #aac8e9;
	background-color: rgb(222, 232, 249);
}
.editTab td{
	padding-left:4px;
	text-align:left;
	border: 1px solid #aac8e9;
}
.editTab input[type=text],input[type=file]{
	border: #CCCCCC 1px solid;
	background-color:#FFFFFF;
	padding-left:1px;
	height:25px;
	width:120px;
}
.editTab input[type=password]{
	border: #CCCCCC 1px solid;
	background-color:#FFFFFF;
	height:25px;
	line-height:25px;
	width:110px;
}
.editTab select{
	border: #CCCCCC 1px solid;
	background-color:#FFFFFF;
	height:25px;
	line-height:25px;
	width:80px;
}
.editTab select option{
	line-height:30px;
	min-height:30px;
	_height:30px;
	margin: 5px 0;
}
.mulSelect{
	border: #CCCCCC 1px solid;
	height:70px !important;
	width:210px !important;
	margin:4px 0 4px 0;
}
.editTab textarea{
	border: #CCCCCC 1px solid;
	background-color:#FFFFFF;
	margin:4px 0 4px 0;
	padding:3px 0 3px 1px;
	height:50px;
	width:480px;
}
.msg{color: #FF0000;}



/**2014-05-05鍔犲叆锛氶《閮ㄦ煡璇㈡潯浠剁浉鍏崇殑CSS */
.topSearchDiv{width:98%; background-color:#F1F6FF;border: 1px solid #A8CFEB;margin: 5px auto;}
.topSearchTab{margin: 3px 0;/*width:100%; margin-top: -10px;border: 1px solid red;*/}
.topSearchTab tr{height:26px;}
.topSearchTab th{text-align: right;padding:0 3px 0 20px;color: #074E81;}
.topSearchTab td{padding-right: 10px; }

/**2014-05-05鍔犲叆锛氬睍绀烘姤琛ㄧ殑鐩稿叧CSS */
.printDivStyle {border: 2px solid #85B0E3;margin: 0 auto;width: 97.8%;height:600px;} 
.printTab{width:100%;}
.printTab tr{height:32px;}
.printTab th{
	text-align:center;
	font-weight: normal;
	color:#074E97;
	background: #F3FAFF;
	border:1px solid #C5E4F8;
}
.printTab td{
	text-align:left;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #C5E4F8;
}
/**2014-05-05鍔犲叆锛氭樉绀烘洿澶氭煡璇㈡潯浠禖SS */
.moreSearchInfo{display: none;}

/**2014-05-06鍔犲叆锛氶噾棰濇煡璇㈡潯浠剁殑CSS锛屾敼CSS灏嗙敤鎴锋煡璇㈡帶鍒舵潯浠堕獙璇�*/
.moneyText{width:55px;}

/**2014-05-28鍔犲叆锛氱敤浜庝笂浼犻檮鍔犵殑琛屻�鎸夐挳鏍峰紡*/
.fileP{margin-top:5px;margin-bottom:5px; }
.fileBtn{
	background-color : #F0F0F0;
	border: #CCCCCC 1px solid;
	height:25px;
	padding: 0px 6px 0px 6px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}


